{% extends 'base.html' %}
{% load static %}
{% block content %}
<div style="height: 200px; background-color: #93C5FD;">
    <div style="max-width: 1000px; margin-left: auto; margin-right: auto; padding: 60px 5px 10px 5px;">
        <div style="font-size: 53px; font-weight: bold; color: white; ">
            EDIT PRESCRIBER
        </div>
    </div>
</div>
<div style="background-color: #F9F9F9; padding: 30px 0 300px 0;">
    <div style="max-width: 700px; margin: 0px auto 0px auto; background-color: white; padding: 30px; border-radius: 10px;">
        <form method=POST action={% url 'editPrescriber' id=prescriber.id%}>
            {% csrf_token %}

            <div style="margin-bottom: 20px; display: flex; justify-content: space-between;">
                <div style="width: 45%">
                    <label>Prescriber First Name:</label>
                    <input type="text" placeholder="First Name" name="pFirstName" value={{prescriber.firstName}}
                    style="border: 0px; border-bottom: 1px #272727 solid; width: 100%; padding: 14px 0 14px 0
                        background-color: #F9F9F9; font-size: 18px; display: block;"/>
                </div>
                <div style="width: 45%">
                    <label>Prescriber Last Name:</label>
                    <input type="text" placeholder="Last Name" name="pLastName"  value={{prescriber.lastName}}
                    style="border: 0px; border-bottom: 1px #272727 solid; width: 100%; padding: 14px 0 14px 0
                        background-color: #F9F9F9; font-size: 18px; display: block;"/>
                </div>
            </div>
            <div style="margin-bottom: 20px; display: flex; justify-content: space-between;">
                <div style="width: 45%">
                    <label>Prescriber Specialty:</label>
                    <select style="display: block" name="pSpecialty" value={{prescriber.specialtyId}}>
                        {% for s in specialties %}
                            {% if prescriber.specialtyId.specialtyName == s.specialtyName%}
                                <option value={{s.id}} selected>{{s.specialtyName}}</option>
                            {% else %}
                                <option value={{s.id}}>{{s.specialtyName}}</option>
                            {% endif %}
                            
                        {% endfor %}
                    </select>
                    
                </div>

                 <div style="width: 45%">
                    <label>Prescriber State:</label>
                    <select style="display: block" name="pState">
                        {% for s in states %}
                            {% if prescriber.state.stateName == s.stateName%}
                                <option value={{s.id}} selected>{{s.stateName}}</option>
                            {% else %}
                                <option value={{s.id}}>{{s.stateName}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div> 
            </div>
            <div style="margin-bottom: 20px; display: flex; justify-content: space-between;">
                <div style="width: 45%"> 
                    <label>Prescriber NPI:</label>
                    <input type="number" placeholder="NPI #" name="pNpi" value={{prescriber.npi}}
                    style="border: 0px; border-bottom: 1px #272727 solid; width: 100%; padding: 14px 0 14px 0
                        background-color: #F9F9F9; font-size: 18px; display: block;"/>
                </div>
                <div style="width: 45%">
                    <label style="display: block">Prescriber Total Prescriptions:<label>
                        <input type="number" placeholder="Ex: 72" name="pTotalPrescriptions"  value={{prescriber.totalPrescriptions}}
                        style="border: 0px; border-bottom: 1px #272727 solid; width: 100%; padding: 14px 0 14px 0
                            background-color: #F9F9F9; font-size: 18px; display: block;"/>
                </div>
            </div> 
            <div style="margin-bottom: 20px; display: flex; justify-content: space-between;">
                <div style="width: 45%"> 
                    <label style="display: block">Prescriber Gender:<label>
                    <select style="display: block" name="pGender">

                        <option value="O"
                        {% if prescriber.gender == "O"%}
                            selected
                        {% endif %}
                        >Other</option>
                        <option value="F"
                        {% if prescriber.gender == "F"%}
                            selected
                        {% endif %}>Female</option>
                        <option value="M"
                        {% if prescriber.gender == "M"%}
                            selected
                        {% endif %}>Male</option>
                    </select>
                </div>
                <div style="width: 45%">
                    <label style="display: block">Is an opioid prescriber?<label>
                        <select style="display: block" name="pOpioid">
                            {% if prescriber.isOpioidPrescriber %}
                            <option value="Yes" selected>Yes</option>
                            <option value="No">No</option>
                            {% else %}
                            <option value="Yes">Yes</option>
                            <option value="No" selected >No</option>
                            {% endif %}
                            
                            
                        </select>
                </div>
            </div> 
           
    
            <div style="display: flex; justify-content: center;">
                <button type="submit" class="submitButton" style="width: 400px; color: white;">
                    Edit Prescriber
                </button>
            </div>
        </form>
        <div>
    </div> 
</div> 
</div>
{% endblock %}